/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto:300,400,500,700&display=swap');

/* color variable */
:root {
	--primary-color: #4f46e5;
	--secondary-color: #F6F6F6;
	--bg-primary: #ffffff;
	--bg-secondary: #F4F4F9;
	--header-color: #36383d;
	--text-color: #6f6f6f;
}

/* 1. Theme default css */
body {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

a,
.button,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:hover {
	text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	text-decoration: none;
	outline: none;
}

button {
	cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

a {
	text-decoration: none;
}

.img-fluid {
	max-width: 100%;
}

.d-none {
	display: none;
}

.slick-slide {
	outline: none;
}


/* default class */
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text p {
	color: #fff;
}

/* default btn */
.btn {
	display: inline-block;
	background-color: var(--primary-color);
	padding: 12px 25px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.btn.modern-btn.white-bg {
	background-color: #fff;
	color: var(--primary-color);
}

.btn.modern-btn.white-bg:hover {
	color: #fff;
}


/* modern button */
.btn.modern-btn:hover {
	background-color: #333333;
}

.btn.modern-btn {
	padding: 12px 30px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	transition: .4s;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
}

.btn.modern-btn:after {
	position: absolute;
	content: '';
	left: -20%;
	top: -10%;
	width: 15%;
	height: 120%;
	background: #ffffff3b;
	transform: rotate(15deg);
	transition: .6s;
}

.btn.modern-btn:hover:after {
	left: 110%;
}

/* BG dots */
.bg-dot {
	position: relative;
}

.bg-dot::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 15px 15px;
	/* background: #bdc3c7;  fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0b0707, #bdc3c7);  
	background: linear-gradient(to right, #e2e2e2, #ffffff);
	/* background-image: -webkit-radial-gradient(rgba(77, 67, 92, .04) 15%, transparent 0), -webkit-radial-gradient(rgba(77, 67, 92, .04) 15%, transparent 0);  */
	/* background-image: radial-gradient(rgba(77, 67, 92, .04) 15%, transparent 0), radial-gradient(rgba(77, 67, 92, .04) 15%, transparent 0);*/
}

/* Section title */

.section-title {
	position: relative;
	margin-bottom: 45px;
	padding-bottom: 20px;
}

.section-title::before {
	content: "";
	position: absolute;
	bottom: 0;
	background-color: var(--primary-color);
	width: 80px;
	height: 6px;
	left: 50%;
	border-radius: 50px;
	z-index: 1;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.section-title::after {
	content: "";
	position: absolute;
	width: 300px;
	height: 1px;
	background-color: #36383d;
	bottom: 2px;
	z-index: 0;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}


.section-title h2 {
	font-size: 48px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #36383d;
	text-transform: capitalize;
}

#heading-service{
	text-align: left;
	margin-bottom: 0.2rem;
}


#heading-service-p{
	text-align: left;
}

.section-title p {
	font-size: 15px;
	color: #6f6f6f;
	line-height: 25px;
	margin-bottom: 0;
}

.section-title h2 span {
	font-weight: 300;
}

/* Section title end */

/* link overly */
a.link-overly {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 3;
}


/* custom css */

/* header area */

/*logo*/
.header-logo img {
	width: 150px;
	/* margin-right: 55em; */
	margin-left: auto;
}


header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 8;
}

.top-header-content a {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	padding: 10px 0;
	margin-right: 15px;
}

.top-header {
	background-color: #ffffff20;
	padding: 0;
	border-bottom: 1px solid #ffffff10;
}

.top-header .modern-btn {
	border: 1px solid #a5a5a5;
}

.top-header-content a i {
	color: var(--primary-color);
	display: inline-block;
	margin-right: 3px;
}

.top-header-btn a.btn.modern-btn {
	display: block;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	display: flex;
}

.navbar-item {
	list-style: none;
	margin: 0.2rem;
}

/* .navbar-item:first-child{
	margin-right: 2rem;
	margin-left: 2rem;
} */

/* 
ul.navbar li {
	display: inline-block;
} */

ul.navbar li a {

	padding: 10px 10px 10px 10px;
	color: #f1f1f1;
	font-weight: 560;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

.main-header {
	background-color: transparent;
	/* border-bottom: 1px solid #000000; */
}

ul.navbar li a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 4px;
	background-color: var(--primary-color);
	border-radius: 3px 3px 0 0;
	transition: .4s;
}

ul.navbar li:hover a:after {
	width: 100%;
}

/* banner area */
.banner-area {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 847px;
	position: relative;
	padding-top: 340px;
	height: 100%;
}

.banner-area-home {
	height: 100vh;
}

section.banner-area:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .50);
}

.banner-content.white-text h1 span.block {
	display: block;
	font-weight: 700;
	font-size: 70px;
	line-height: 86px;
}

.banner-content h1 {
	font-weight: 300;
	font-size: 44px;
	line-height: 53px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.banner-content h1 span {
	font-weight: 500;
}

.banner-content h3 {
	font-size: 26px;
	line-height: 31px;
	font-weight: 300;
	margin-bottom: 50px;
	text-transform: uppercase;
}


.banner-btn .btn.white-bg {
	margin-left: 10px;
}

.banner-btn .btn {
	border: 1px solid #fff;
}

.inner-banner-wrapper {
	min-height: 630px;
}

.inner-banner-wrapper-careers {
	min-height: 330px;
}

.inner-banner-wrapper-contact {
	min-height: 330px;
}

.inner-banner-wrapper-service {
	min-height: 330px;
}

.inner-banner-wrapper-about {
	min-height: 330px;
}

.inner-banner-content h1 {
	font-size: 52px;
	font-weight: 500;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

.inner-banner-content-service h1 {
	font-size: 52px;
	font-weight: 500;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

.inner-banner-content h1::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100px;
	height: 2px;
	background-color: var(--primary-color);
	margin-left: -50px;
}

.inner-banner-content-service h1::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100px;
	height: 2px;
	background-color: var(--primary-color);
	margin-left: -50px;
}

.inner-banner-content p {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 4rem;

}

.inner-banner-content-service p {
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 0rem;
}

.about-us-image {
	margin-top: 8rem;
}

section.inner-banner-wrapper {
	padding-top: 150px;
}

section.inner-banner-wrapper-careers {
	padding-top: 150px;
}

section.inner-banner-wrapper-contact {
	padding-top: 150px;
}


section.inner-banner-wrapper-service {
	padding-top: 150px;
}

section.inner-banner-wrapper-about {
	padding-top: 150px;
}



/* About us section */
.about-us-section {
	padding-top: 40px;
	padding-bottom: 40px;
}


.about-us-slider {
	position: relative;
	padding-top: 10px;
}

.about-us-slider .slick-arrow {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	font-size: 22px;
	width: 60px;
	height: 55px;
	line-height: 55px;
	z-index: 1;
}

.about-us-slider .slick-arrow.slick-prev {
	left: -60px;
	background-color: #333333;
}

.about-us-content {
	padding-right: 15px;
}


.about-us-content h2 {
	font-size: 46px;
	margin-bottom: 16px;
	color: var(--header-color);
}

.about-us-content h2 span {
	font-weight: 300;
}

.about-us-content h4 {
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 12px;
	color: var(--header-color);
}

.about-us-content p {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0px;
	color: var(--text-color)
}

.about-us-content a.btn {
	margin-top: 20px;
}

/* About us section end */



/* service section */
.service-section-wrapper {
	background-size: 15px 15px;
	background-color: var(--bg-secondary);
	padding-bottom: 30px;
	padding-top: 40px;
}

.single-service {
	position: relative;
	z-index: 1;
	padding: 15px 40px;
	margin-bottom: 20px;
	border: 1px solid #d9dbe9;
	transition: all ease 0.7s;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	max-width: 100%;
	height: 470px;
}

.single-service:hover {
	border-color: var(--primary-color);
}

.single-service::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.25;
	background-color: var(--secondary-color);
	z-index: -1;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
}

.single-service:hover::before {
	background-color: var(--primary-color);
	opacity: 1;
}

.single-service span {
	display: inline-block;
	width: 100px;
	height: 100px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .07);
	background-color: var(--secondary-color);
	font-size: 40px;
	line-height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
}


.single-service:hover span {
	color: var(--primary-color);
}

.single-service h3 {
	color: var(--header-color);
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: 20px;
	margin-top: 30px;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
}

.single-service:hover h3 {
	color: #fff;
}

.single-service h3::before {
	position: absolute;
	background-color: var(--header-color);
	width: 80px;
	height: 1px;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transition: all ease 0.6s;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-ms-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
}

.single-service:hover h3::before {
	background-color: #fff;
	width: 120px;
}

.single-service p {
	font-size: 15px;
	color: var(--text-color);
	margin-bottom: 0px;
	line-height: 25px;
}

.single-service:hover p {
	color: #fff;
}


.service-section-wrapper .section-title::before {
	background-color: var(--primary-color);
}

.service-section-wrapper .section-title::after {
	background-color: var(--header-color);
}

.service-section-wrapper .section-title h2 {
	color: var(--header-color);
}

.service-section-wrapper .section-title p {
	color: var(--text-color);
}


/* service section end */


/* video area */

.video-section-wrapper .container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.video-features-content-wrap {
	background-color: var(--primary-color);
	padding: 80px 100px;
	padding-bottom: 20px;
}

.single-video-features {
	margin-bottom: 60px;
}

.video-features-content h4 {
	font-size: 26px;
	line-height: 32px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.video-features-content {
	width: calc(100% - 120px)
}

.video-features-content p {
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	margin-bottom: 0;
}


.video-features-icon span {
	border: 1px solid #f1f1f1;
	color: #fff;
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: inline-block;
	text-align: center;
	font-size: 32px;
	margin-right: 30px;
	margin-top: 5px;
}


.video-area-wrap {
	position: relative;
	height: 100%;
	background-image: url('../img/feature-bg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.video-area-wrap::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: var(--primary-color);
	z-index: 1;
	opacity: 0.5;
}

.video-content {
	position: relative;
	z-index: 2;
	width: 100%;
}

.video-content span {
	display: block;
	font-size: 1.25rem;
	color: #fff;
	font-weight: 700;
}


.video-content h2 {
	font-size: 38px;
	color: #fff;
	text-transform: capitalize;
	margin: 10px 0;
	display: block;
}

.video-content .video-btn {
	display: inline-block;
	font-size: 38px;
	height: 100px;
	position: relative;
	width: 100px;
	border: 4px solid #f1f1f1;
	cursor: pointer;
	color: #fff;
	background-color: var(--primary-color);
	line-height: 95px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.video-content .video-btn i {
	padding-left: 8px;
}

/* video area end */

/* Team slider Section */

.our-team-slider-wrapper {
	background-color: var(--bg-secondary);
	padding-top: 90px;
	padding-bottom: 100px;
}


.single-team-slider .team-slider-img {
	position: relative;
	margin-bottom: 25px;
}

.single-team-slider .team-slider-img img {
	width: 100%;
	height: auto;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}

.team-slider-img .team-social-icons {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	margin-bottom: -20px;
}

.team-slider-img .team-social-icons a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #fff;
	font-size: 16px;
	line-height: 40px;
	border-radius: 50%;
	color: var(--primary-color);
	margin: 0 2px;
	box-shadow: 0 0 5px var(--text-color);
}

.team-slider-img .team-social-icons a:hover {
	color: #fff;
	background-color: var(--primary-color);
}

.single-team-slider .team-slider-img h3::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: var(--primary-color);
	opacity: 0.7;
	z-index: -1;
}


.single-team-slider .team-slider-img::before {
	content: "";
	position: absolute;
	background-color: var(--primary-color);
	top: 0;
	left: 50%;
	opacity: 0.10;
	width: 100%;
	height: 100%;
	z-index: 1;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
}

.single-team-slider:hover .team-slider-img::before {
	width: 0;
}


.single-team-slider {
	text-align: center;
}

.single-team-slider h4 {
	font-size: 22px;
	color: var(--header-color);
	text-transform: uppercase;
	padding-bottom: 10px;
	display: inline-block;
	margin-top: 20px;
	position: relative;
}


.single-team-slider p {
	color: var(--text-color);
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 0;
	text-transform: capitalize;
}


.team-slider-active ul.slick-dots {
	text-align: center;
	line-height: 0;
	margin-top: 30px;
}

.team-slider-active ul.slick-dots li button {
	font-size: 0;
	display: inline-block;
	width: 15px;
	height: 8px;
	border: none;
	background-color: var(--primary-color);
	border-radius: 50px;
	line-height: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.team-slider-active ul.slick-dots li {
	display: inline-block;
	margin: 0 3px;
}

.team-slider-active ul.slick-dots li.slick-active button {
	width: 25px;
}

.team-slider-active ul.slick-dots li:hover button {
	width: 25px;
}


/* Team slider Section end */


/* Testomonial slider */
.testmonial-section-wrapper {
	background-image: url('../img/testimonial-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.testmonial-section-wrapper::before {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.single-testomonial-comment p {
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 30px;
	position: relative;
	padding: 10px 60px;
}

.single-testomonial-comment p::after,
.single-testomonial-comment p::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "\f10d";
	font-family: "Font Awesome\ 5 Free";
	font-weight: 900;
	font-size: 32px;
}

.single-testomonial-comment p::after {
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	content: '\f10e';
}

.single-testomonial-comment h4 {
	font-size: 30px;
	margin: 30px 0 10px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
}

.single-testomonial-comment span {
	color: #fff;
	display: inline-block;
	font-size: 18px;
}


.tesomonial-author-img .testo-img div {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 0 auto;
	background-color: var(--primary-color);
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid rgba(255, 255, 255, 0.35);
	opacity: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.tesomonial-author-img .testo-img.slick-active div {
	opacity: 0.7;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	z-index: 1;
	position: relative;
	cursor: pointer;
}

.tesomonial-author-img .testo-img.slick-slide:focus {
	outline: 0;
}

.tesomonial-author-img .testo-img.slick-current.slick-active div {
	z-index: 2;
	position: relative;
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.tesomonial-author-img {
	padding: 0 30px;
	margin-top: 40px;
}

.testmonial-section-wrapper {
	padding: 120px 0;
}


.testomonial-comment-area .slick-slide:focus {
	outline: 0;
}


.tesomonial-author-img .testo-img div .no-image {
	display: none;
}


/* Testomonial slider end */


/* cta area */

.cta-section-wrapper {
	background-image: url('../img/ready-to-start.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 120px 0;
}

.cta-section-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--primary-color);
	opacity: 0.8;
}

.cta-content h2 {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
}

.cta-content p {
	color: #fff;
	margin-bottom: 30px;
}

.cta-content a.cta-btn {
	background-color: #fff;
	color: var(--primary-color);
}

.cta-content a.cta-btn:hover {
	color: #fff;
}

/* cta area end */



/* contact us form design */
section.contact-us-section-wrap {
	padding-bottom: 110px;
	background-color: var(--bg-secondary);
	padding-top: 40px;
}

.contact-us-wrap-box {
	padding: 20px 30px;
	background-color: var(--bg-primary);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

form.contact-form input,
form.contact-form textarea {
	width: 100%;
	height: 45px;
	padding-left: 15px;
	font-size: 14px;
	color: var(--text-color);
	margin-bottom: 30px;
	display: block;
	background-color: transparent;
	box-shadow: inset 0 0 2px var(--text-color);
	border: none;
}

form.contact-form textarea {
	min-height: 250px;
	padding-top: 15px;
	line-height: 22px;
	resize: none;
}


/* contact us form design end */

/* contact us location widget */
.contact-location-box h3 {
	font-size: 28px;
	letter-spacing: 1px;
	color: var(--header-color);
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.contact-location-box {
	background-color: var(--bg-secondary);
	height: 100%;
	padding-top: 5px !important;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid var(--primary-color);
	border-top: 1px solid var(--primary-color);
}

.contact-location-box p {
	color: var(--text-color);
	line-height: 25px;
	font-size: 15px;
	margin-bottom: 25px;
}

.single-location-widget h4 {
	font-size: 18px;
	color: var(--primary-color);
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.single-location-widget p {
	margin-bottom: 0;
}

.single-location-widget h4 i {
	margin-right: 5px;
	display: inline-block;
}

.single-location-widget {
	padding-bottom: 30px;
}

/* contact us location widget end */


/* breadcurmb */
ul.bread-crumb {
	width: 80%;
	margin: 0 auto;
	height: 60px;
	background-color: var(--primary-color);
	border-radius: 7px;
	position: relative;
	margin-top: -60px;
	padding: 15px 0px;
}

ul.bread-crumb li {
	display: inline-block;
	padding: 5px;
	padding-right: 25px;
	position: relative;
}

ul.bread-crumb li:last-child {
	padding-right: 0;
}

ul.bread-crumb li::before {
	content: "\f101";
	position: absolute;
	right: 0;
	top: 0;
	font-family: "Font Awesome 5 free";
	font-weight: 700;
	color: #f1f1f1;
	font-size: 16px;
	line-height: 30px;
}

ul.bread-crumb li a,
ul.bread-crumb li {
	font-size: 14px;
	color: #f1f1f1;
	font-weight: 600;
	letter-spacing: 1px;
}

ul.bread-crumb li a i {
	margin-right: 5px;
}

ul.bread-crumb li:last-child:before {
	display: none;
}

/* breadcurmb end */


/* counter section */
section.counter-section-wrapper {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

section.counter-section-wrapper::before,
section.counter-section-wrapper::after {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
}

section.counter-section-wrapper::before {
	background-color: #1A1A1A;
	left: 0;
}

section.counter-section-wrapper::after {
	background-color: var(--primary-color);
	right: 0;
}

.counter-section-titile h2 {
	color: #ddd;
	text-transform: capitalize;
	font-size: 46px;
	margin-bottom: 16px;
}

.counter-section-titile h2 span {
	font-weight: 400;
}

.counter-section-titile p {
	color: #ddd;
	font-size: 16px;
	line-height: 23px;
}

.counter-section-content {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
	background-color: var(--bg-primary);
	min-height: 100%;
	text-align: center;
	padding: 80px 0;
	margin-right: 60px;
}

.singel-counter-box .counter-icon span {
	font-size: 44px;
	color: var(--primary-color);
	line-height: 50px;
	margin-bottom: 15px;
	display: inline-block;
}

.singel-counter-box span.counter {
	display: inline-block;
	font-size: 28px;
	color: var(--header-color);
	font-weight: 600;
	line-height: 34px;
	margin-bottom: 15px;
	letter-spacing: 1px;
	position: relative;
}

.singel-counter-box {
	width: calc(33.33% - 20px);
	margin: 0 10px;
	margin-bottom: 20px;
}

.singel-counter-box p {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 19px;
	text-transform: capitalize;
	color: var(--text-color);
}


.counter-section-titile {
	margin-left: -10px;
}


.singel-counter-box span.counter::before {
	content: "+";
	position: absolute;
	font-size: 26px;
	line-height: 31px;
	right: -18px;
	color: var(--text-color);
	font-weight: 700;
}

/* counter section end */



/* footer css */
footer {
	background-color: #4f46e5;
	/* padding-bottom: 0px; */
	padding-top: 50px;
}

.single-footer-widget {
	margin-bottom: 50px;
}

.footer-widget-title h4 {
	font-size: 20px;
	color: #f9f9f9;
	font-weight: 700;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 15px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

ul.footer-social-list li {
	display: inline-block;
	margin-right: 10px;
}

ul.footer-social-list li a {
	color: #ddd;
	font-size: 26px;
	display: block;
	padding: 5px;
}

ul.footer-social-list {
	margin-top: 30px;
}

ul.footer-social-list li a:hover {
	color: var(--primary-color);
}

.single-footer-widget p {
	color: #ddd;
	line-height: 25px;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo img {
	width: 150px;
}

ul.footer-service-list li {
	display: block;
	position: relative;
	padding-left: 20px;
	margin: 12px 0;
}

ul.footer-service-list li::before {
	position: absolute;
	left: 0;
	top: 0;
	font-weight: 400;
	font-size: 10px;
	color: #ddd;
	content: "\f111";
	font-family: "Font Awesome\ 5 Free";
	line-height: 22px;
}

ul.footer-service-list li a {
	color: #ddd;
	line-height: 22px;
	text-transform: capitalize;
	display: inline-block;
	font-weight: 400;
}

ul.footer-service-list li a:hover {
	color: var(--primary-color);
}

ul.footer-service-list li a:hover~ul.footer-service-list li::before {
	color: var(--primary-color);
}

ul.footer-contact li p {
	padding-left: 40px;
}

ul.footer-contact li i {
	float: left;
	color: #ddd;
	line-height: 25px;
	font-size: 20px;
	padding-top: 5px;
}

ul.footer-contact li {
	margin-bottom: 15px;
}

ul.footer-contact li:last-child {
	margin-bottom: 0;
}

ul.footer-service-list li:first-child {
	margin-top: 0;
}

ul.footer-service-list li:last-child {
	margin-bottom: 0;
}

form.footer-subscribe-form input {
	height: 49px;
	width: 100%;
	display: block;
	padding-left: 15px;
	background-color: transparent;
	border: 1px solid var(--primary-color);
	color: #f1f1f1;
	font-size: 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

form.footer-subscribe-form {
	position: relative;
	margin-top: 30px;
}

form.footer-subscribe-form button {
	color: #fff;
	background-color: var(--primary-color);
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	border: none;
	font-size: 24px;
	height: 48px;
	line-height: 48px;
	width: 55px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.footer-copyright p span {
	color: white;
}

.footer-copyright {
	width: 100%;
	background-color: #4f46e5;
	border-top: 1px solid #4f46e5;
	padding: 30px 0;
}

.footer-copyright p {
	color: #fff;
	margin-bottom: 0;
	font-size: 14px;
}

/* footer css end */

/*sticy_header*/
.sticy_header {
	width: 100%;
	position: fixed;
	background: linear-gradient(to right, #4d4d4d, #6b6b6b);
	top: -125px;
	transition: .4s;
	z-index: 999999;
}

.sticy_header.active {
	top: 0;
}

/*================================================
Preloader CSS
=================================================*/
.preloader {
	position: fixed;
	left: 0;
	width: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 999999999;
	background-color: transparent;
	-webkit-transition: .9s;
	transition: .9s;
}

.preloader .loader {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: inline-block;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 45%;
	-webkit-transform: translateY(-45%);
	transform: translateY(-45%);
}

.preloader .loader .loader-outter {
	position: absolute;
	border: 4px solid #ffffff;
	border-left-color: transparent;
	border-bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
	animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .loader-inner {
	position: absolute;
	border: 4px solid #ffffff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	left: calc(50% - 30px);
	top: calc(50% - 30px);
	border-right: 0;
	border-top-color: transparent;
	-webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
	animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader span {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #ffffff;
	font-size: 25px;
	font-weight: 700;
}

.preloader::before,
.preloader::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	z-index: -1;
	background: var(--primary-color) !important;
	background: linear-gradient(to bottom, var(--primary-color) 0, var(--primary-color) 100%) !important;
	-webkit-transition: .9s;
	transition: .9s;
}

.preloader::after {
	left: auto;
	right: 0;
}

.preloader.preloader-deactivate {
	visibility: hidden;
}

.preloader.preloader-deactivate::after,
.preloader.preloader-deactivate::before {
	width: 0;
}

.preloader.preloader-deactivate .loader {
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes loader-outter {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader-outter {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader-inner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes loader-inner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

/*================================================
Preloader end
=================================================*/

/* portfolio area */

.portfolio-area {
	padding: 100px 0;
}

.single-portfolio img {
	width: 100%;
	height: 195px;
	object-fit: cover;
}

.single-portfolio {
	margin-bottom: 30px;
}

.port-footer {
	padding: 10px 15px;
}

.port-footer h4,
.port-footer a {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.port-footer.voker {
	background-color: #fea116;
}

.port-footer.green {
	background-color: #A6B355;
}

.port-footer.gary {
	background-color: #d5d3d4;
}

.port-footer.nolez {
	background-color: #558cff;
}

.port-foot-icon a {
	margin-left: 5px;
}

.port-footer.pizzaro {
	background-color: #b321b5e8;
}

.port-btns {
	text-align: center;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}

.port-btns li {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 30px;
	min-width: 80px;
	color: #6f6f6f;
	cursor: pointer;
	transition: .4s;
}

.port-btns li:hover,
.port-btns li.active {
	background-color: var(--primary-color);
	color: #fff;
	border-color: var(--primary-color);
}

/* Blog */


/* FAQ */
.faq-wrapper {
	padding: 100px 0;
}

.faq-header {
	font-size: 50px;
	text-align: center;
}

.faq-img img {
	width: 100%;
}

.faq-single-content {
	/* display: none; */
	margin-bottom: 16px;
	padding-bottom: 4px;
	border-bottom: 1px solid #e1e1e1;
}

.faq-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	cursor: pointer;
}

.faq-content i {
	color: #6f6f6f;
}

.faq-content h2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: var(--header-color);
}

.faq-body {
	display: none;
	margin-bottom: 16px;
	color: #6f6f6f;
}

.faq-single-content.active .faq-body {
	display: block;
}

/* Privecy */

/* blog */
.blog-area {
	padding: 100px 0;
}

.single-blog {
	margin-bottom: 110px;
}

.blog-content {
	margin-top: 25px;
}

.blog-img img {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
}

.single-blog-meta {
	font-size: 14px;
	margin-bottom: 16px;
}

.single-blog-meta span {
	margin-right: 10px;
	border-right: 1px solid #666666;
	padding-right: 10px;
}

.single-blog-meta span {
	margin-right: 10px;
	border-right: 1px solid #666666;
	padding-right: 10px;
}

.blog-content h2 {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 12px;
	font-weight: 600;
}

.blog-content p {
	margin-bottom: 20px;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 24px;
}

.single-blog-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single-blog-footer a {
	color: #202020;
	font-weight: 600;
}

.single-blog-footer a:hover {
	color: #4f46e5;
}

.single-blog-share {
	position: relative;
}

.single-blog-share a.share-icon {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #cfcfcf;
	text-align: center;
	line-height: 35px;
	color: #ffffff;
	cursor: pointer;
}

.share-content {
	width: 225px;
	top: 0;
	right: 0;
	border: 1px solid #e2ebf1;
	padding: 7px 8px;
	border-radius: 6px;
	opacity: 100;
	visibility: visible;
	transition: .5s;
	background: #fff;
}

.share-content a {
	background: #b9d2d6;
	color: #fff;
	display: inline-block;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 28px;
	border-radius: 3px;
	margin-right: 1px;
}

.share-content a:hover {
	background: #4f46e5;
	color: #fff;
}

.single-blog-share:hover a.share-icon {
	background: #4f46e5;
	color: #fff;
}

.single-blog-share:hover .share-content {
	opacity: 1;
	visibility: visible;
	margin-right: 0;
}

.search-box {
	margin-bottom: 50px;
}

.search-box form {
	border: 1px solid #e2ebf1;
	border-radius: 30px;
	padding-right: 10px;
}

.search-box form input {
	width: 85%;
	background: none;
	border: none;
	display: inline-block;
	padding: 15px 0;
	padding-left: 20px;
}

.search-box form button {
	background: none;
	border: none;
	width: 10%;
	display: inline-block;
}

.popular-cetagories {
	margin-bottom: 50px;
}

.popular-cetagories h6 {
	padding-bottom: 20px;
	margin-bottom: 25px;
	font-size: 15px;
	color: #202020;
	border-bottom: 2px solid #efefef;
	position: relative;
	text-transform: uppercase;
}

.popular-cetagories h6:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 35px;
	height: 2px;
	background: #588ee0;
}

.cetagories-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cetagories-flex a {
	display: block;
	color: #6f6f6f;
	font-size: 14px;
	line-height: 42px;
}

.cetagories-flex a:hover {
	color: #4f46e5;
}

.cetagories-flex span {
	color: #4f46e5;
	cursor: pointer;
}

.recent-post h6 {
	padding-bottom: 20px;
	margin-bottom: 25px;
	font-size: 15px;
	color: #202020;
	border-bottom: 2px solid #efefef;
	position: relative;
	text-transform: uppercase;
}

.recent-post h6:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 35px;
	height: 2px;
	background: #588ee0;
}

.single-recent-post {
	display: flex;
	gap: 20px;
	margin-bottom: 35px;
}

.recent-post-img {
	width: 100px;
	flex-shrink: 0;
}

.recent-post-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recent-post-content a {
	font-size: 13px;
	color: #202020;
	font-weight: 800;
	line-height: 22px;
	display: block;
	margin-bottom: 8px;
}

.recent-post-content span {
	display: block;
	font-size: 14px;
	text-align: end;
}

/* instragram tag */
.insta-feed {
	margin-bottom: 50px;
}

.insta-feed h6 {
	padding-bottom: 20px;
	margin-bottom: 25px;
	font-size: 15px;
	color: #202020;
	border-bottom: 2px solid #efefef;
	position: relative;
	text-transform: uppercase;
}

.insta-feed h6:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 35px;
	height: 2px;
	background: #588ee0;
}

.insta-content {
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
}

.insta-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.insta-content span {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}

.insta-content:hover span {
	color: #588ee0;
	opacity: 10;
	visibility: visible;
}

/* popular tag */
.popular-tag h6 {
	padding-bottom: 20px;
	margin-bottom: 25px;
	font-size: 15px;
	color: #202020;
	border-bottom: 2px solid #efefef;
	position: relative;
	text-transform: uppercase;
}

.popular-tag h6:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 35px;
	height: 2px;
	background: #588ee0;
}

a.rounded-btn {
	padding: 13px 20px;
	display: inline-block;
	font-size: 13px;
	border: 1px solid #eef3f7;
	margin-bottom: 8px;
	border-radius: 30px;
	color: #202020;
}

a.rounded-btn:hover {
	background: #477ae2;
	color: #fff;
}

/* blog view */
.blog-view-footer {
	display: flex;
	justify-content: end;
	align-items: center;
}

.view-img {
	flex-shrink: 0;
}

.view-img img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid white;
	box-shadow: 0 0 10px #00000020;
}

.blog-view-content p {
	margin-bottom: 20px;
	color: #6f6f6f;
	font-size: 15px;
	line-height: 25px;
}

.blog-view-content {
	margin-top: 25px;
}

.blog-view-content h2 {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 16px;
}

.single-view-blog {
	display: flex;
	gap: 15px;
}

.author-tilte {
	display: flex;
	justify-content: space-between;
}

.author-tilte h5 {
	font-size: 18px;
	font-weight: 400;
}

.view-content p {
	font-size: 15px;
	line-height: 25px;
	color: #6f6f6f;
	margin-top: 8px;
}

.author-tilte a {
	color: #477ae2;
}

.comment-area {
	padding: 100px 0;
}

.comment-area h3 {
	font-size: 28px;
	margin-bottom: 50px;
}

.comment-title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.comment-title h5 {
	font-size: 16px;
	font-weight: 400;
}

.comment-title span {
	font-size: 12px;
}

.single-comment {
	display: flex;
	gap: 16px;
}

.comment-author-img {
	flex-shrink: 0;
}

.comment-author-img img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid white;
	box-shadow: 0 0 10px #00000020;
}

.comment-content p {
	font-size: 15px;
	line-height: 25px;
	color: #6f6f6f;
	margin-bottom: 15px;
}

.comment-content a {
	font-size: 14px;
	display: block;
	text-align: end;
	text-transform: uppercase;
	color: #477ae2;
}

.single-comment.pl-90 {
	padding-left: 90px;
}

.reply-box-area h2 {
	font-size: 28px;
	margin-bottom: 50px;
}

.reply-box-form form label {
	display: block;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.reply-box-form form input {
	border: none;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 30px;
	font-size: 13px;
	font-style: italic;
	width: 100%;
	padding: 10px 0;
	padding-left: 15px;
	transition: .4s;
}

.submit-btn {
	display: inline-block;
	width: 130px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	transition: .3s;
	color: #fff;
	background: #477ae2;
	text-transform: capitalize;
}

.submit-btn:hover {
	background-color: #333333;
}

.submit-btn:after {
	position: absolute;
	content: '';
	right: 16%;
	top: 25%;
	width: 8%;
	height: 55%;
	background: #ffffff3b;
	transform: rotate(105deg);
	transition: .6s;
}

.submit-btn:hover:after {
	right: -16%;
}

.text-right {
	text-align: right;
}

.text-green {
	color: #22c55e;
}

.form-submit-success {
	margin-top: 12px;
	display: none;
}

.slick-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mb-8 {
	margin-bottom: 6px;
}



/* ==== Main CSS === */
.img-fill {
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center
}

.img-fill img {
	min-height: 100%;
	min-width: 100%;
	position: relative;
	display: inline-block;
	max-width: none;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
	padding: 0 15px;
	max-width: 1200px;
	margin: auto;
}

.blocks-box,
.slick-slider {
	margin: 0;
	padding: 0 !important;
}

.slick-slide {
	float: left
		/* If RTL Make This Right */
	;
	padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill {
	height: 100vh;
	background: #000;
}

.Modern-Slider .item .img-fill .info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .50);
	line-height: 100vh;
	text-align: center;
}

.Modern-Slider .item .img-fill img {
	filter: blur(5px);
}

.Modern-Slider .item .info>div {
	display: inline-block !important;
	vertical-align: middle;
}

.Modern-Slider .NextArrow {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 35px;
	height: 35px;
	/* background: rgba(0, 0, 0, .50); */
	border: 0 none;
	margin-top: -22.5px;
	text-align: center;
	/* font: 20px/45px FontAwesome; */
	font-size: 35px;
	color: #FFF;
	z-index: 5;
	cursor: pointer;
}

.Modern-Slider .NextArrow:before {
	content: '\f105';
}

.Modern-Slider .PrevArrow {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 35px;
	height: 35px;
	/* background: rgba(0, 0, 0, .50); */
	border: 0 none;
	margin-top: -22.5px;
	text-align: center;
	/* font: 20px/45px FontAwesome; */
	font-size: 35px;
	color: #FFF;
	z-index: 5;
	cursor: pointer;
}

.Modern-Slider .PrevArrow:before {
	content: '\f104';
}

.Modern-Slider .slick-dots {
	position: absolute;
	height: 5px;
	background: rgba(255, 255, 255, .20);
	bottom: 0px;
	width: 100%;
	left: 0px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.Modern-Slider .slick-dots li button {
	display: none;
}

.Modern-Slider .slick-dots li {
	float: left;
	width: 0px;
	height: 5px;
	background: #d62828;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.Modern-Slider .slick-dots li.slick-active {
	width: 100%;
	animation: ProgressDots 11s both;
}

.Modern-Slider .item h3 {
	font: 30px/50px RalewayB;
	text-transform: uppercase;
	color: #FFF;
	animation: fadeOutRight 1s both;
	margin: 0;
	padding: 0;
}

.Modern-Slider .item h5 {
	margin: 0;
	padding: 0;
	font: 15px/30px RalewayR;
	color: #FFF;
	max-width: 600px;
	overflow: hidden;
	height: 60px;
	animation: fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3 {
	animation: fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h5 {
	animation: fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active {
	animation: Slick-FastSwipeIn 1s both;
}

.Modern-Slider {
	background: #000;
}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn {
	0% {
		transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
	}

	100% {
		transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
	}
}

@-webkit-keyframes ProgressDots {
	from {
		width: 0px;
	}

	to {
		width: 100%;
	}
}

@keyframes ProgressDots {
	from {
		width: 0px;
	}

	to {
		width: 100%;
	}
}

/* ==== Slick Slider Css Ruls === */
.Modern-Slider {
	height: 100vh;
	position: relative;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: ''
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	display: none;
	float: left
		/* If RTL Make This Right */
	;
	height: 100%;
	min-height: 1px
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

/* modal */
/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	/* padding-top: 100px; */
	padding-top: 15%;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100vh;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #414141;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
	color: white;
	padding-top: 0;
	text-align: center;
}

@media (max-width: 767.98px) {

	/* Modal Content */
	.modal-content {
		width: 70%;
	}
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.myBtn {
	cursor: pointer;
	margin-top: 20px;
	border-radius: 10px;
	padding: 5px;
	background: rgb(89 89 89);

}

.myBtn p {
	color: white;
}